/* 

 Styles specific to the Velocipede site

*/

/* TODO: Footer avec renvoi vers top*/

// Global
@import url(http://fonts.googleapis.com/css?family=Raleway);

// Menu

nav {
	ul.title-area { // Logo
		
	}
	li.menu-item-26 { // Bouton reserver
		background-color: $alert-color;
		a.button {
			// color: $white;
			top: 25%;
		}
	}
	
}

// Homepage
.home {
	.feature {
		margin-top: 20px;
		li {
			text-align: center;
			img {
				border-radius: 50%;
				transition: transform .25s ease;
			}
			img:hover {
				transform: scale(1.10);
			}
		}
	}
}
.inner-wrap .top-bar-container {
	margin-bottom:0;
}
.metaslider-17 {
	.rslides_nav {
		visibility: hidden;
	}
	#metaslider_17 {
		//display: table-cell;
		position: relative;
		.caption-wrap  {
			text-align: center;
			background: none;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			.caption {
				font-size: 5em;
				width: 100%;
				h2 {
					color: $white;
				}
				h3 {
					color: $white;
				}
			}
			
		}
		
	
	}
}