/* 

 Styles specific to the Velocipede site

*/

/* TODO: Check check*/
.home {
	.feature {
		margin-top: 20px;
		li {
			text-align: center;
			img {
				border-radius: 50%;
			}
		}
	}
}
.inner-wrap .top-bar-container {
	margin-bottom:0;
}
.metaslider-17 {
	.rslides_nav {
		visibility: hidden;
	}
	#metaslider_17 {
		//display: table-cell;
		position: relative;
		.caption-wrap  {
			text-align: center;
			background: none;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			.caption {
				font-size: 5em;
				width: 100%;
				h2 {
					color: $white;
				}
				h3 {
					color: $smoke;
				}
			}
			
		}
		
	
	}
}